.hour {
  width: 7rem;
  height: 36px;
  border: solid 0.1px rgb(230, 230, 230);
  background-color: white;
  border-top: none;
  border-left: none;
  &:nth-child(2) {
    border-top: solid 0.1px rgb(230, 230, 230) !important;
  }
}

.hour:hover {
  background-color: rgb(118, 248, 85);
}

.busy {
  background-color: rgb(21, 104, 0);
}

.busy:hover {
  background-color: rgb(21, 104, 0);
}
.first {
  border-left: solid 0.1px rgb(230, 230, 230) !important;
}
